<!DOCTYPE html>
<html lang="nl">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="styles/start.css">
	<link rel="stylesheet" href="styles/styles.css">
	<title>HeartBeart</title>
</head>
<body>
	<header>
			<% if (session && session.loggedIn) { %>
	<img id="hamburger" src="styles/images/menu.png" alt="menu">
		<% } %>
		<h2>HeartBeat</h2>
			<% if (session && session.loggedIn) { %>
		<a href="/logout">Log uit</a>
		<% } %>
		</header>
		<div id="nav">
			<a href="/matches">Matches</a>
			<a href="/">Home</a>
		<% if (session && session.loggedIn) { %>
			<a href="/myprofile/ <%= session.user.id %>">Profiel</a>
		<% } %>
			<a href="/login">Login</a>
		</div>
	<main>
	<h1>Favoriete Album</h1>
	<form action="/signup">
			<label class="image-checkbox">
      <img class="img-responsive" src="styles/images/album/multiply.png">
      Multiply
      <input type="checkbox">
		</label>
		<label class="image-checkbox">
      <img class="img-responsive" src="styles/images/album/divide.jpg">
      Divide
      <input type="checkbox">
		</label>
		<label class="image-checkbox">
      <img class="img-responsive" src="styles/images/album/plus.png">
      Plus
      <input type="checkbox">
		</label>
		<label class="image-checkbox">
      <img class="img-responsive" src="styles/images/album/5.jpg">
      5
      <input type="checkbox">
		</label>
		<label class="image-checkbox">
      <img class="img-responsive" src="styles/images/album/loose%20change.jpg">
      Loose Change
      <input type="checkbox">
		</label>
		<label class="image-checkbox">
      <img class="img-responsive" src="styles/images/album/live%20at.jpg">
      Live at the Bradford
      <input type="checkbox">
		</label>
		<button type="submit">Volgende</button>
</form>
	</main>
		<script src="java/java2.js"></script>
</body>
</html>
