<!DOCTYPE html>
<html lang="nl">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="styles/start.css">
	<link rel="stylesheet" href="styles/styles.css">
	<title>HeartBeart</title>
</head>
<body>
	<header>
	<!-- <img id="hamburger" src="styles/images/menu.png" alt="menu"> -->
		<h2>HeartBeat</h2>
		</header>
		<div id="nav">
			<a href="/matches">Matches</a>
			<a href="/">Home</a>
			<a href="/profile">Profiel</a>
			<a href="/login">Login</a>
		</div>
	<main>
	<h1>Favoriete Artiest</h1>
	<form action="/album">
			<label class="image-checkbox">
      <img class="img-responsive" src="styles/images/artiest/beyonce.jpg">
      Beyoncé
      <input type="checkbox">
		</label>
		<label class="image-checkbox">
      <img class="img-responsive" src="styles/images/artiest/ed%20sheeran.jpg">
      Ed Sheeran
      <input type="checkbox"  />
		</label>
		<label class="image-checkbox">
      <img class="img-responsive" src="styles/images/artiest/drake.jpg">
      Drake
      <input type="checkbox">
		</label>
		<label class="image-checkbox">
      <img class="img-responsive" src="styles/images/artiest/adele.jpg">
      Adele
      <input type="checkbox">
		</label>
		<label class="image-checkbox">
      <img class="img-responsive" src="styles/images/artiest/justin%20bieber.jpg">
      Justin Bieber
      <input type="checkbox">
		</label>
		<label class="image-checkbox">
      <img class="img-responsive" src="styles/images/artiest/sia.jpg">
      Sia
      <input type="checkbox">
		</label>
		<button type="submit">Volgende</button>
</form>
	</main>
	<script src="java/java2.js"></script>
</body>
</html>
