<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Error</title>
    	<link rel="stylesheet" href="styles/styles.css">
      <link rel="stylesheet" href="styles/error.css">
  </head>
  <body>
<h1>OOPS!</h1>
<h2><%= id %></h2>
<p><%= description %></p>
  </body>
</html>
