<!DOCTYPE html>
<html lang="nl">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="styles/start.css">
	<link rel="stylesheet" href="styles/styles.css">
	<title>HeartBeart</title>
</head>
<body>
	<header>
	<!-- <img id="hamburger" src="../styles/images/menu.png" alt="menu"> -->
	<h2>HeartBeat</h2>
		</header>
		<div id="nav">
			<a href="/matches">Matches</a>
			<a href="/">Home</a>
			<a href="/myprofile">Profiel</a>
			<a href="/login">Login</a>
		</div>
	<main>
	<h1>Favoriete Genre</h1>
	<form action="/artist">
			<label class="image-checkbox">
      <img class="img-responsive" src="styles/images/genre/rb.png">
      RnB
      <input type="checkbox">
		</label>
		<label class="image-checkbox">
      <img class="img-responsive" src="styles/images/genre/pop.jpg">
      Pop
      <input type="checkbox"  />
		</label>
		<label class="image-checkbox">
      <img class="img-responsive" src="styles/images/genre/rock.png">
      Rock
      <input type="checkbox">
		</label>
		<label class="image-checkbox">
      <img class="img-responsive" src="styles/images/genre/classic.png">
      Klassiek
      <input type="checkbox">
		</label>
		<label class="image-checkbox">
      <img class="img-responsive" src="styles/images/genre/hiphop.jpg">
      HipHop
      <input type="checkbox">
		</label>
		<label class="image-checkbox">
      <img class="img-responsive" src="styles/images/genre/country.jpeg">
      Country
      <input type="checkbox">
		</label>
		<button type="submit">Volgende</button>
</form>
	</main>
	<script src="java/java2.js"></script>
</body>
</html>
