<!DOCTYPE html>
<html lang="nl">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="styles/inschrijven.css">
	<link rel="stylesheet" href="styles/styles.css">
	<title>HeartBeart</title>
</head>
<body>
	<header>
		<% if (session && session.loggedIn) { %>
	<img id="hamburger" src="../styles/images/menu.png" alt="menu">
	<% } %>
	<h2>HeartBeat</h2>
		<% if (session && session.loggedIn) { %>
	<a href="/logout">Log uit</a>
	<% } %>
		</header>
		<div id="nav">
			<a href="/matches">Matches</a>
			<a href="/">Home</a>
			<a href="/myprofile/ <%= session.user.id %>">Profiel</a>
			<a href="/login">Login</a>
		</div>
	<main>
		<h1>Profiel Wijzigen</h1>
		<form action="/update/<%= session.user.id %>" method="POST">
			Ik ben een
			<label for="man">
				<input type="radio" id="man" value='male' name="gender">Man</label>
			<label for="vrouw">
				<input type="radio" id="vrouw" value='female' name="gender">Vrouw</label>
				<label for="overige">
				<input type="radio" id="overige" value='other' name="gender">Overige</label>
			Ik val op
			<label for="man">
				<input type="checkbox" id="mann" value='male' name="type">Mannen</label>
			<label for="vrouw">
				<input type="checkbox" id="vrouww" value='female' name="type">Vrouwen
			</label>
			<label for="naam">Voor- en achternaam
				<input type="text" value='Jessie Mason' id="naam" name="name">
			</label>
			<label for="email">E-Mail
				<input type="email" id="email" name="email" value='jessie@hoi.nl'>
			</label>
			<label for="ww">Wachtwoord
				<input type="password" id="ww" value="hoi" name="password">
			</label>
			<label for="leeftijd">Leeftijd
				<input type="number" id="leeftijd" name="age" value="22">
			</label>
			<label for="provincie" id="provincie">In welke provincie woon je
				<select id="provincie" name="place">
					<option value="maak keuze">maak keuze</option>
					<option value="Drenthe">Drenthe</option>
					<option value="Flevoland">Flevoland</option>
					<option value="Friesland">Friesland</option>
					<option value="Gelderland">Gelderland</option>
					<option value="Groningen">Groningen</option>
					<option value="Limburg">Limburg</option>
					<option value="Noord-Braband">Noord-Braband</option>
					<option value="Overijssel">Overijssel</option>
					<option value="Utrecht">Utrecht</option>
					<option value="Zeeland">Zeeland</option>
					<option value="Zuid-Holland">Zuid-Holland</option>
				</select>
			</label>
			<button type="submit">Volgende</button>
		</form>
	</main>
<script src="java/java2.js"></script>
</body>

</html>
